<template>
	
	<!-- PO NUMBER -->
	<div class="slds-col slds-size_1-of-1">
		<lightning-input
			type="text"
			label={labels.component.enterPONumber}
			value={purchaseOrderNumber}
			onchange={handlePoChange}
		>
		</lightning-input>
	</div>
	
</template>