<template>

    <!-- LOADING SPINNER -->
    <template if:true={showLoadingSpinner}>
        <lightning-spinner alternative-text={labels.component.altPleaseWait} size="medium"></lightning-spinner>
    </template>
    
</template>